# EditorConfig helps maintain consistent coding styles across various editors and IDEs.
# More info: https://editorconfig.org

root = true

##########################################################################
# Global Settings for All Files
##########################################################################
[*]
charset = utf-8                 # Use UTF-8 encoding for all files
end_of_line = lf                # Use LF for newlines
indent_size = 4                 # Default indent size: 4 spaces
indent_style = space            # Use spaces for indentation by default
insert_final_newline = true     # Ensure files end with a newline
trim_trailing_whitespace = true # Remove any trailing whitespace
quote_type = single             # Use single quotes by default

##########################################################################
# Specific Language/Framework Settings
##########################################################################

# Git Commit Messages
[COMMIT_EDITMSG]
max_line_length = 0             # No maximum line length

##########################################################################
# YAML Files
##########################################################################
[*.{yml,yaml}]
indent_size = 2                 # Use 2 spaces for YAML files
quote_type = double             # Use double quotes for YAML


##########################################################################
# Markdown Files
##########################################################################
[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = 175          # Set maximum line length to 175 characters
indent_size = 2

[CHANGELOG]
trim_trailing_whitespace = false
max_line_length = 175          # Set maximum line length to 175 characters
indent_size = 2

##########################################################################
# JSON Files (and KICS config files)
##########################################################################
[**.json]
indent_size = 8

##########################################################################
# Makefile
##########################################################################
[Makefile]
indent_style = tab             # Use tabs for Makefiles


##########################################################################
# Go Files and Related Configurations
##########################################################################
[*.{go,work,mod}]
indent_size = 4
indent_style = tab
