---
name: Continuous Integration

"on":
    push:
        branches:
            - main
            - "feature/**"
        paths-ignore:
            - "**.md"
            - ".github/ISSUE_TEMPLATE/**"
            - ".github/CODEOWNERS"
    pull_request:
        branches:
            - main
        paths-ignore:
            - "**.md"
            - ".github/ISSUE_TEMPLATE/**"
            - ".github/CODEOWNERS"
    workflow_dispatch:

concurrency:
    group: ${{ github.ref }}-${{ github.workflow }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    golangci-lint:
        name: Go Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

            - name: Setup Go
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
              with:
                  go-version-file: go.mod
                  cache: true

            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
              with:
                  version: latest

    actionlint:
        name: Action Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

            - name: Run actionlint
              uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda # v1
              with:
                  reporter: github-pr-review
                  fail_level: error

    shellcheck:
        name: Shell Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

            - name: Run ShellCheck
              uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
              with:
                  reporter: github-pr-review
                  fail_level: warning

    yamllint:
        name: YAML Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

            - name: Run yamllint
              uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3
              with:
                  config_file: .yamllint.yml
                  strict: false
