---
name: Continuous Integration

"on":
    push:
        branches:
            - main
            - "feature/**"
        paths-ignore:
            - "**.md"
            - ".github/ISSUE_TEMPLATE/**"
            - ".github/CODEOWNERS"
    pull_request:
        branches:
            - main
        paths-ignore:
            - "**.md"
            - ".github/ISSUE_TEMPLATE/**"
            - ".github/CODEOWNERS"
    workflow_dispatch:

concurrency:
    group: ${{ github.ref }}-${{ github.workflow }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    golangci-lint:
        name: Go Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

            - name: Setup Go
              uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
              with:
                  go-version-file: go.mod
                  cache: true

            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
              with:
                  version: latest

    actionlint:
        name: Action Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

            - name: Run actionlint
              uses: reviewdog/action-actionlint@a5524e1c19e62881d79c1f1b9b6f09f16356e281 # v1
              with:
                  reporter: github-pr-review
                  fail_level: error

    shellcheck:
        name: Shell Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

            - name: Run ShellCheck
              uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
              with:
                  reporter: github-pr-review
                  fail_level: warning

    yamllint:
        name: YAML Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

            - name: Run yamllint
              uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3
              with:
                  config_file: .yamllint.yml
                  strict: false
